body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    background-color: #f2f2f2;
}

header {
    background-image: url("../images/fieldbackground.jpg");
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    border-bottom: 3px solid 	#000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:inherit;
}


/* For screens up to 768px wide (typical phone screens) */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Adjust header padding for smaller screens */
    }

    .menu {
        display: none; /* Hide menu items */
    }

    .logo {
        grid-column: 1 / span 3; /* Span the logo across the header */
        text-align: center; /* Center align the logo */
    }

    .search {
        grid-column: 4 / span 1; /* Adjust search position */
        margin-top: 0; /* Remove top margin */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    main {
        grid-template-columns: 1fr; /* Change main content layout to single column */
        padding: 10px; /* Adjust padding for main content */
    }
}

/* Additional adjustments for smaller screens if needed */
@media (max-width: 576px) {
    .title {
        font-size: 1.5em; /* Adjust title font size for smaller screens */
    }

    .search input {
        width: 70%; /* Adjust search input width */
    }

    .search button {
        padding: 3px 6px; /* Adjust search button padding */
    }

    .officelogo {
        display: none; /* Hide office logo for smaller screens */
    }
}


.logo {
    grid-column: 1;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: 	#000000;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
}

.menu li a:hover {
    color: #007bff;
    background-color: #f2f2f2;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 5;
    margin-top: 10px;
}

.search input {
    margin-right: 10px;
}

.search button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.officelogo {
    width: 175px;
    grid-column: 5;
}

.title {
    margin: 0;
    color: 	#000000;
    font-style: oblique;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 20%) minmax(200px, 20%) 1fr;
    gap: 20px;
    padding: 20px;
}

aside {
    background-color: #fff;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}
